*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #00B4DB;
  background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);
  background: linear-gradient(to bottom, #0083B0, #00B4DB);
  color: #ffff;
}